<div class="course-card" [ngClass]="cardClasses()" *ngIf="course">

    <div class="course-title">
        {{cardIndex || '' +" "+course.description}}
    </div>

    <ng-template #blankImage>
        <p class="warn">{{course.description}} has no image yet</p>
        <img src="/assets/empty-image.png">
    </ng-template>
    
    <ng-content select="course-image" *ngIf="course.iconUrl; else blankImage"></ng-content>
    <!-- <ng-content [course]="course"></ng-content> -->
   <!-- <course-image [course]="course" /> -->


    <div class="course-description">
        {{course.longDescription}}
    </div>

    <button (click)="onCourseViewClick()">Course View</button>

</div>
